# Ambienti Virtuali Python
.venv/
venv/
env/
__pycache__/



# File di progetto QGIS (pesanti e non utili per il codice Python)
*.qgz
*.qgs
*.qgz~

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# File di Sistema Operativo
.DS_Store
Thumbs.db
